@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap%27);');
.hatter {
    background-image: url("viztukor.png");
}

.szin {
    color: purple;
}

.belso {
    background: lightblue;
}

.szoveg {
    border: 1px solid;
    text-align: center;
    background: white;
}

.meret {
    font-size: x-large;
}

.a {
    border-radius: 20px;
}

.x {
    font-size: x-large;
}